<footer
  class="py-12 text-center text-gray-500 border-t border-white/5 bg-black/20 backdrop-blur-xl"
>
  <p>© {new Date().getFullYear()} Astro Snowfall. MIT License.</p>

  <p class="text-sm mt-2">
    Built with <span class="text-white">Astro</span> and <span
      class="text-white">Tailwind CSS</span
    >
  </p>
</footer>
