<footer
  class="py-12 text-center text-gray-500 border-t border-white/5 bg-black/20 backdrop-blur-xl"
>
  <p>
    © {new Date().getFullYear()} Astro Snowfall. - Project under MIT License by
    <a
      href="https://github.com/fermeridamagni"
      target="_blank"
      class="underline underline-offset-4 hover:text-white transition-colors decoration-dotted decoration-white/20"
      >@fermeridamagni</a
    >
  </p>
</footer>
